body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}
.container{
    margin-left: 100px;
    font-size: smaller;
}
.social{
    color: white;

}
/* ????????????????????????????????????? */
.navbar-img{
    width: 250px;
}
.navbar{
  font-size: small;
}
.dropdown-menu{
    width: 100%;
}
.img-fluid{
    width: 100%;
    height: 100%;
}
.card{
    width: 100%;
    height: 100%;
}

.nav-item .home-cover{
    width: 200px;
    font-size: small;
   
}
.nav-item .recipes-cover{
    font-size: small;
}
.nav-item .feature-cover{
    left: -200px;
    width: 1200px;
    font-size: small;
   
}
.nav-item .pages-cover{
    font-size: small;
}
.nav-item .course-cover{
    left: -250px;
    width: 1200px;
    height: 200px;
    font-size: small;
}
.nav-item .shop-cover{
    font-size: small;
}
.nav-item .course-cover img {
    height: 180px;
    width: 180px;    
}
.nav-item .course-cover .card {
    height: 180px;
    width: 180px;    
}

.search{
    position: relative;
   
}
.search .fa-search{
    position: absolute;
    top: 10px;
    left: 10px;
  
}
.search input {
    width: 150px;
    height: 32px;
    text-indent: 32px;
}

.feat-hov:hover > div {
    display: block;
    width: 100%;
}

.cors-hov:hover > div {
    color: #4fd675;
    display: block;
}
.shop-hov:hover > ul{
    display: block;
}

/* ::carousel ???????????????????????????????????????????????????????????????????????????????? */
.carousel-inner .carousel-item h1{
    font-size: xxx-large;
    font-weight: bold;
    position: absolute;
    bottom: 300px;
   left: 100px;
}
.carousel-inner .carousel-item span{
   
    position: absolute;
    bottom: 250px;
    left: 370px;
}
.carousel-inner .carousel-item .carousel-caption .social-icons{
    position: absolute;
    bottom: 200px;
    left: 300px;
}
.carousel-inner .carousel-item img{
    height: 550px;
}

.carousel-indicators .tag_img{
    width:100%;
}
.carousel-indicators{
    background-color: white;
    height: 140px;
    top: 500px;
    width: 1000px;
}

/* cat-dog-5////////////////////////////////////////////////////////////////////////////////////// */

.cat-dog-5 .card .inner_1 {
 overflow: hidden;
}
.cat-dog-5 .card .inner_2{
    overflow: hidden;
}
.inner_1 img{
    transition: all .5s ease;   
    width: 100%;   
    height: 320px;
}
.inner_2 img{
    transition: all .5s ease;
    height: 220px;
    width: 100%;
}
.cat-dog-5:hover img{
    transform: scale(1.1);
    opacity: 0.4;
}

.cat-dog-5{
    position: relative;
}

.cat-dog-5 .card-img-overlay a{
    color: white;
   position: absolute;
   top: 90%;
}

.cat-dog-5 .card-img-overlay h2{
    color: white;
    position: absolute;
    top: 70%;   
}
.cat-dog-5 .card-img-overlay h3{
    position: absolute;
    top: 60%;    
}


/* cat-dog-8/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.cat-dog-8{
    height: auto;
    background-color: rgb(247, 242, 245);
    
}

.cat-dog-8 .card{
background-color: rgb(248, 245, 240);
width: 160px;
border: 0;

}
.cat-dog-8 .night{  
    font-size:small;   
}

/* /cat-dog-10//////////////////////////////////////////////////////////////////////////////// */
.cat-dog-10{
 
}
.cat-dog-10 .card .cadr_1{
}

.cat-dog-10 .card .cadr_1 .cadr_2{
 height: 700px;
 width: 400px;
 

}
.cat-dog-10 .card .card-img-top{
    width: 100%;
   height: 350px;
}

.cat-dog-10 .card .card-body a{
    color: rgb(0, 255, 85);
   
}
/* .. cat-dog-10-side.///////////////////////////////////////////////////////////////////////////////////////. */
.cat-dog-10-side{
    width: 400px;
}
.cat-dog-10-side .card .card-img-top_3{
    width: 300px;
    height: 300px;
}
.cat-dog-10-side .card .card-body p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:.875rem;
}
.cat-dog-10-side .card .card-body .nav-link_box .social_2{
    color: rgb(18, 19, 19);
}
.cat-dog-10-side .card .card-body .nav-link_box .social_2:hover{
    color: rgb(88, 238, 88); 
}
.cat-dog-10-side .card .card-body .btn{
   background-color:rgb(88, 238, 88) ;
   color: white;
   font-size: smaller;
}
.cat-dog-10-side .card .side_title{
    width: 22rem;
    height: 55px;
    border: 1px solid rgb(0, 255, 85);
}
.cat-dog-10-side .card .right_3 .img-fluid{
    width: 70px;
    height:70px;
    transform: scale(1);
    opacity: 1;
}
.cat-dog-10-side .card .card-title{
    font-size: 1rem;
    width: 10rem;
}
.cat-dog-10-side .card #num{
    font-size: x-large;
} 

.right_3 .title .card-title{
    width: 22rem;
}

.cat-dog-10-side .card-form{
    border-top: 6px solid rgb(115, 175, 25);
    width: 100%;
    height: 350px;
}
.cat-dog-10-side .card-form .card-footer button{
    background-color: chartreuse;  
    font-size: small;  
   
}
.cat-dog-10-side .card-form .card-footer input{
    background-color: rgb(238, 241, 234);    
    font-size: small;
}
.cat-dog-10-side .card-form .card-footer {
    font-size:small
}

.cat-dog-10-side .cat-dog-hid .card-img-overlay:hover{
    background-image:url('image/food-1.jpg');
}
.cat-dog-10-side .cat-dog-hid .card-img-overlay{
    width: 100%;
    height: 100%;
    background-color: rgb(225, 247, 240);
}
.cat-dog-hid span{
    color: rgb(26, 202, 143);
}

/* cat-dog-6/////////////////////////////////////////////////////////////// */


.cat-dog-6 .card img{
    height: 90%;
    width: 95%;
}
.cat-dog-6 .card{
 border: 3px solid red;
    height: 600px;
  
}
.cat-dog-6 .card .card-img-overlay h3 a{
 color: white;
 position: absolute;
 top: 70%;
 text-decoration:none;

}
.cat-dog-6 .card .card-img-overlay span a{
    color: white;
    position: absolute;
    top: 80%;
    text-decoration:none;
    font-size: larger;
   }
   #num-comment{
    color: white;
    position: absolute;
    top: 80%;
    text-decoration:none;
    left: 190px; 
    font-size: larger;
   }
   .cat-dog-6 .card .card-img-overlay a i{
    color: white;
    position: absolute;
    top: 80%;
    text-decoration:none;
    left: 170px;
    font-size: larger;
   }

/*cat-dog-1 ///////////////////////////////////// */
.cat-dog-1  .card .card-img{
    width: 90%;
    height: 450px;
}
.cat-dog-1 .card .card-img-overlay h1{
    position: absolute;
   bottom: 200px;
   left: 30%;
}
.cat-dog-1 .card .card-img-overlay a i{
    position: absolute;
    top: 60%;
    text-decoration:none;
    left: 50%;
    font-size: larger;
   }
   #num-comment-1{
    color: white;
    position: absolute;
    top: 60%;
    text-decoration:none;
    left: 49%; 
    font-size: x-larger;
   }
   #title{
    color: white;
    position: absolute;
    top: 60%;
    left: 40%;
    text-decoration:none;
   
   }
   /* ///////////////////////////////////////// */
   .cat-dog-foot-6{
       position: relative;
   }
   .cat-dog-foot-6 .lable-circle{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 45%;
    top: 20%;
}
.cat-dog-foot-6 .lable-circle a{
    position: absolute;
    width: 150px;
    height: 150px;
   left: 4%;
    top: 30%;
}